*{
	margin:0;
	padding:0;
}
html{
	width: 100%;
  	height: 100%;
}
body{
	font-family: 'Helvetica','微软雅黑';
	width: 100%;
  height: 100%;
}
a{
  text-decoration: none;
  color: black;
}
h1,h2,h3,h4,h5,h6,p{
  font-weight: normal;
}
/*导航*/
#nav{
  	width: 90%;
  	padding:0 5%;
  	height: 2.5rem;
  	background-color: rgba(0,0,0,0.7);
  	display:flex;
}
.fixed{
	position: fixed;
	top:0;
	left:0;
	z-index: 1000;
}
.logo{
	display: flex;
  	flex:5;
  	padding-left:12%;
}
.logo img{
	height: 2.5rem;
}
.nav_list{
	display:flex;
	flex:5;
	margin-right: 5%;
}
#nav ul li {
  display: inline-block;
  text-decoration: none;
  line-height: 2.5rem;
  font-size: 0.9rem;
  flex:1;
  text-align: center;
}
.nav_list a{
   color: #fff;
   padding-bottom: 0.5rem;
}
.nowPage a{
	border-bottom: 0.1rem solid #fff;
}
/*回到顶部*/
#top{
	  display: none;
	  position: fixed;
	  z-index: 10;
    right:1.5rem;
    bottom:2.25rem;
	  width:2.5rem;
    height:2.5rem;
    line-height: 2.5rem;
    background:rgba(0,0,0,0.8);
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 2.25rem;
}
@media only screen and (min-width: 1080px), only screen and (min-device-width:1080px) {
    html,body {
        font-size:21.6px;
    }
}
@media only screen and (max-width: 1080px), only screen and (max-device-width:1080px) {
    html,body {
        font-size:21.6px;
    }
}
@media only screen and (max-width: 960px), only screen and (max-device-width:960px) {
    html,body {
        font-size:19.2px;
    }
}
@media only screen and (max-width: 800px), only screen and (max-device-width:800px) {
    html,body {
        font-size:16px;
    }
}
@media only screen and (max-width: 720px), only screen and (max-device-width:720px) {
    html,body {
        font-size:14.399999999999999px;
    }
}
@media only screen and (max-width: 640px), only screen and (max-device-width:640px) {
    html,body {
        font-size:12.8px;
    }
}
@media only screen and (max-width: 600px), only screen and (max-device-width:600px) {
    html,body {
        font-size:12px;
    }
}
@media only screen and (max-width: 540px), only screen and (max-device-width:540px) {
    html,body {
        font-size:10.8px;
    }
}
@media only screen and (max-width: 480px), only screen and (max-device-width:480px) {
    html,body {
        font-size:9.6px;
    }
}
@media only screen and (max-width: 414px), only screen and (max-device-width:414px) {
    html,body {
        font-size:8.28px;
    }
}
@media only screen and (max-width: 400px), only screen and (max-device-width:400px) {
    html,body {
        font-size:8px;
    }
}
@media only screen and (max-width: 375px), only screen and (max-device-width:375px) {
    html,body {
        font-size:7.5px;
    }
}
@media only screen and (max-width: 360px), only screen and (max-device-width:360px) {
    html,body {
        font-size:7.199999999999999px;
    }
}
@media only screen and (max-width: 320px), only screen and (max-device-width:320px) {
    html,body {
        font-size:6.4px;
    }
}
