/*主页爱心和welcome文字动画*/
#animation{
  width: 100%;
  height: 100%;
  background-color: #ccc;
}
#heart,.welcome{
  width:7.5rem;
  height:7.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -3.75rem;
  margin-left: -3.75rem;
}
#heart {
  z-index: 1;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image:url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgd2lkdGg9IjE3M3B4IiBoZWlnaHQ9IjE1OHB4IiB2aWV3Qm94PSIwIDAgMTczIDE1OCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMTczIDE1OCIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cGF0aCBmaWxsPSIjRUY0NjU3IiBkPSJNMTU3LjMzMSwxNS41MDRjLTE5LjU1OS0xOS41NTktNTEuMjcxLTE5LjU1OS03MC44MzEsMGMtMTkuNTU5LTE5LjU1OS01MS4yNzEtMTkuNTU5LTcwLjgzMSwwDQoJYy0xOS41NTksMTkuNTU5LTE5LjU1OSw1MS4yNzEsMCw3MC44MzFsNzAuODMxLDcwLjgzbDcwLjgzMS03MC44M0MxNzYuODksNjYuNzc1LDE3Ni44OSwzNS4wNjQsMTU3LjMzMSwxNS41MDR6Ii8+DQo8L3N2Zz4=");
}
.welcome{
	z-index: 10;
  	font-size: 1.9rem;
  	line-height: 6rem;
  	color: white;
  	text-align: center;
}
.beat{
  animation: HEARTBEAT 2.5s infinite;
  -webkit-animation:HEARTBEAT 2.5s infinite;
}
@keyframes HEARTBEAT {
  0% {
    transform: scale(1);
    -ms-transform:scale(1); 	/* IE 9 */
    -moz-transform:scale(1); 	/* Firefox */
    -webkit-transform:scale(1); /* Safari 和 Chrome */
    -o-transform:scale(1); 
  }
  5% {
    transform: scale(1.3);
    -ms-transform:scale(1.3); 	
    -moz-transform:scale(1.3); 
    -webkit-transform:scale(1.3);
    -o-transform:scale(1.3); 
  }
  10% {
    transform: scale(1.1);
    -ms-transform:scale(1.1); 	
    -moz-transform:scale(1.1); 	
    -webkit-transform:scale(1.1);
    -o-transform:scale(1.1); 
  }
  15% {
    transform: scale(1.5);
    -ms-transform:scale(1.5); 	
    -moz-transform:scale(1.5); 	
    -webkit-transform:scale(1.5); 
    -o-transform:scale(1.5); 
  }
  50% {
    transform: scale(1);
    -ms-transform:scale(1); 	
    -moz-transform:scale(1); 	
    -webkit-transform:scale(1);
    -o-transform:scale(1); 
  }
  100% {
    transform: scale(1);
    -ms-transform:scale(1); 	
    -moz-transform:scale(1); 	
    -webkit-transform:scale(1); 
    -o-transform:scale(1); 
  }
}

/*图片开始*/
#inside{
	width: 90%;
	padding:5%;
	display: block;
}
#inside a {
	display: inline-block;
	width: 25%;
	float: left;
}
#inside img{
	width: 95%;
	margin:0 2.5%;
}
#inside .inside_bot{
	clear: both;
}
#carousel{
	display: none;
	width: 100%;
}
#carousel img{
	width: 100%;
	padding-bottom: 5%;
}
/*整体内容开始*/
.content{ 
    position: relative;
    width:100%;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
}
.title{
	width: 100%;
	line-height:1.8;
	font-size:3rem;
	font-weight: 300;
	word-spacing:0.8rem;
	text-align: center;
}
.remark{
	width: 100%;
	line-height:2;
	text-align: center;
	font-size:16px;
	font-weight:500;
}
/*blog开始*/
#blog{
	width: 100%;
}
article:nth-child(1),article:nth-child(2),article:nth-child(3){
	/*margin:1.5rem 1rem;*/
	border-bottom: 1px dashed #ccc;
}
.essay article{
	padding:30px 0 50px 0;
}
.essay article .tag{
	display: inline-block;
	font-size:14px;
	padding:0 0.25rem;
	margin-right:0.75rem;
	background-color: #CCCCFF;
}
.essay article h4{
	display: inline-block;
	font-size: 20px;
	font-weight:300;
	margin-bottom:10px;
}
.blog_data{
	float: right;
	margin:0.5rem 0 0 1rem;
	font-size:14px;
}
.essay article p{
	line-height:2;
	font-size: 16px;
	color: #949494;
	display:-webkit-box;
	overflow:hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:3;
}
/*demo部分*/
#demo{
	width: 100%;
}
.demo_cont{
	width: 94%;
	float: left;
	padding:3%;
	margin:0 auto;
}
#demo .demo_list li{
	display: inline-block;
	float:left;
}
.demo_list li .li_cont{
	padding:0.5rem 0.5rem 1rem;
	margin:0 20px 20px;
	background-color: #eae9e9;
}
.demo_list li h4{
	font-size: 20px;
	line-height: 3;
	margin-left: 4%;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.demo_list li a{
	display: inline-block;
	font-size: 16px;
	background-color:white;
	border-radius: 0.2rem;
	line-height: 2;
	margin-left: 4%;
	padding:0 0.2rem;
}
.demo_more{
	display: block;
	width:85%;
	height: 2.25rem;
	margin:3rem auto;
	outline: none;
	border:1px solid #ccc;
	box-shadow: 2px 2px 5px #ccc;
	border-radius: 1.125rem;
	font-size: 1rem;
	background-color: #fff;
}
/*photo部分*/
#photo{
	width:90%;
	margin:0 auto;
}
.transform{
	border:1px solid white;
	overflow: hidden;
}
.transform img{
	padding:0;
}
.photos{
	padding-top: 3%;
	height: 29rem;
}
.photo_cont{
	float: left;
	display: inline-block;
	width:23%;
	padding:1%;
}
.pic1,.pic2,.pic3{
	width:100%;
	height:16rem;
}
.pic4 , .pic5{
	width: 100%;
	height:8rem;
}
.explain{
	width:100%;
	height:9rem;
	box-sizing: border-box;
}
.explain p{
	position:relative;
	top:3.5rem;
	text-align: center;
	font-size:0.9rem;
	line-height:1.5rem;
}
.one{
	background-color:#f7e1af; 
	margin-bottom: 0.5rem;
}
.two{
	background-color: #c4dbf5;
	margin-top: 0.5rem;
}
.three{
	background-color:#fcd8dd; 
	margin-bottom : 0.5rem;
}
.four{
	background-color: #d2f4c1;
	margin-top:0.5rem;
	height:8.6rem;
}
/*关于部分*/
#about{
	position: relative;
	width: 100%;
	font-size: 0.9rem;
	text-align: center;
}
#about .about-left{
	float: left;
	width: 10%;
}
#about .about-right{
	float: right;
	width: 10%;
}
#about .about-cont{
	float: left;
	width: 80%;
	margin:2rem auto 0;
}
#about p{
	float:left;
	width:100%;
	font-size: 20px;
	line-height: 2;
}
footer{
	clear: both;
	float: left;
	width: 100%;
	height: 2rem;
	background-color: black;
	margin-top:1rem;
}
@media (max-width:540px){
	#animation{
		display: none;
	}
	.title{
		font-size: 40px;
	}
	.demo_list li{
		width:100%;
	}
	.photos{
		height: 54rem;
	}
	.photo_cont{
		float: left;
		display: inline-block;
		width:48%;
		height:25rem;
		padding:1%;
		margin-bottom: 1rem;
	}
	.logo{
		display: none;
	}
	.essay{
		padding:0 32px;
	}
    .essay article .tag{
   	  font-size: 12px;
    }
    #inside{
    	display: none;
    }
    #carousel{
    	display: block;
    }
}
@media (min-width:540px) and (max-width:991px){
	.demo_list li{
		width:50%;
	}
	.essay{
		padding:32px;
	}
	#inside a {
		width: 50%;
	}
	#inside img{
		width: 97.5%;
		margin:2.5% 2.5% 0 0;
	}
}
@media (min-width:992px) and (max-width:1199px){
	.demo_list li{
		width:33.33%;
	}
	.essay{
		width: 70%;
		margin: 0 auto;
	}
}
@media (min-width:1200px){
	.demo_list li{
		width:25%;
	}
	.essay{
		width: 70%;
		margin: 0 auto;
	}
}

