*{
	margin:0;
	padding:0;
}
body{
  height: 100%;
  font-family: '微软雅黑';
}
a{
  text-decoration: none;
  color: black;
}
#header{
	width:100%;
	height:700px;
}
.banner{
  background: url(../img/indexImg/banner4.jpg) fixed no-repeat;
  background-position: center;
  background-size:cover;
}
#nav{
  width: 100%;
  height: 50px;
  background-color:rgba(0,0,0,.75);
}
.scroll{
   margin-top: -50px; 
}
.fixed{
	position: fixed;
	top:0;
	left:0;
	z-index: 1000;
}
.cest{
	display: block;
	position: relative;
	top:100px;
	width: 200px;
	height: 250px;
	margin:0 auto;
}
.nav_content{
  width: 70%;
  margin: 0 auto;
}
.logo{
  float: left;
  position: absolute;
}
.nav_content ul li {
  display: inline-block;
  float: right;
  text-decoration: none;
  width: 50px;
  margin-left: 50px;
  font-size: 18px;
  line-height: 50px;
}
.nav_content a{
   color: #fff;
}
#top{
	display: none;
	position: fixed;
    right: 30px;
    bottom: 50px;
	width: 50px;
    height: 50px;
    background: #4e79b7;
    color: #fff;
    text-align: center;
    cursor: pointer;
    font-size: 45px;
}
.transit{
	width:100%;
	height:450px;
	padding-top: 80px;
}
.hello{
	display: block;
	width: 400px;
	height: 300px;
	margin:0 auto;
}
.panda{
	display: block;
	width: 150px;
	height: 150px;
	margin:-50px auto 0;
}
/*轮播开始*/
.carousel{
	position: relative;
	overflow: hidden;
	height:500px;
}
#limian{
	width: 600px;
	height:350px;
	position: relative;
	margin: 50px auto;
	transform: translate(-3000px,0);
	box-sizing: border-box;
}
#limian img{
	position: absolute;
	width: 600px;
	height: 350px;
	margin:0 120px;
	border: 1px solid #ccc;
	box-shadow: 10px 10px 20px #ccc;
}
#limian img:hover .over{
	display: block;
}
#limian img:nth-child(1){
	transform:translate(0,0);
}
#limian img:nth-child(2){
	transform:translate(720px,0);
}
#limian img:nth-child(3){
	transform:translate(1440px,0);
}
#limian img:nth-child(4){
	transform:translate(2160px,0);
}
#limian img:nth-child(5){
	transform:translate(2880px,0);
}
#limian img:nth-child(6){
	transform:translate(3600px,0);
}
.pre_next{
	width: 760px;
	height: 50px;
	margin: -235px auto 0;
}
.pre_next img{
	width:50px;
	height:50px;
}
#pre{
	float:left;
}
#next{
	float:right;
}
.over{
	position: absolute;
	display: none;
	width: 600px;
	height: 60px;
	top:340px;
	left:50%;
	transform: translateX(-50%);
	background-color: rgba(0,0,0,0.5);
	pointer-events: none;
	z-index: 350;
	color:  #CCCCFF;
	font-size:18px;
	line-height: 60px;
	font-weight: lighter;
	text-align: center;
}
.click{
	font-size: 14px;
}
/*blog开始*/
.content{ 
	margin-top: 20px;
    position: relative;
    width:1200px;
    left: 50%;
    transform: translateX(-50%);
    -moz-transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
}
.title{
	width:100%;
	height:100px;
	line-height:100px;
	font-size:50px;
	font-weight: lighter;
	text-align: center;
}
.remark{
	width: 100%;
	height:70px;
	text-align: center;
}
#blog{
	margin-bottom: 100px;
}
.essay{
	width:1000px;
	margin:0 auto;
}
article{
	margin:30px 20px;
}
article span{
	display: inline-block;
	padding:0 5px;
	margin-right:15px;
}
.tag_html,.tag_skill{
	background-color: #CCCCFF;
}
.tag_css,.tag_thought{
	background-color:#CCCCFF;
}
.tag_js{
	background-color:#CCCCFF;
}
article h4{
	display: inline-block;
	font-size: 24px;
	font-weight:300;
	margin-bottom: 10px;
}
.blog_data{
	float: right;
	margin:10px 0 0 20px;
	font-size: 14px;
}
article p{
	font-size: 16px;
	line-height: 30px;
	color: #949494;
}
/*demo部分*/
.demo{
	width:100%;
	height:400px;
}
.circle_cont{
	position: relative;
	width:300px;
	height: 300px;
	margin:0 auto;
}
.radius{
	position:absolute;  
    text-align: center;  
}
.circle1{
	height: 300px;
	width:150px; 
	background-color: #c4dbf5;
	border-radius: 150px  0 0 0;  
    line-height: 300px;
}
.circle1:hover{
	left:-10px;
}
.circle2{
	left: 150px;
	width:150px;
	height:150px;
	line-height: 180px;
	background-color:#fcd8dd;
	
}
.circle2:hover{
	top:-10px;
	left:160px;
}
.circle3{
	left: 150px;
	top:150px;
	width:150px;
	height:150px;
	line-height: 120px;
	background-color:#f7e1af;
	border-radius:0 0 150px;
}
.circle3:hover{
	top:160px;
	left: 160px;
}
/*photo部分*/
#photo{
	clear: both;
	width:100%;
	padding: 100px 10px 0 10px;	
}
.transform{
	border:1px solid white;
	overflow: hidden;
}
.transform img{
	cursor:pointer;
	transition:all 600ms;
	padding:0;
}
.transform img:hover{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.photo_cont{
	float: left;
	display: inline-block;
	width:23%;
	height: 500px;
	padding:10px;
	margin-bottom: 100px;
}
.pic1,.pic2,.pic3{
	width:270px;
	height:320px;
}
.pic4 , .pic5{
	width: 270px;
	height:160px;
}
.explain{
	width: 270px;
	height:180px;
	box-sizing: border-box;
	padding: 8px;
}
.explain p{
	position:relative;
	top:40px;
	text-indent: 2em;
	font-size: 18px;
	line-height: 30px;
}
.one{
	background-color:#f7e1af; 
	margin-bottom: 10px;
}
.two{
	background-color: #c4dbf5;
	margin-top: 10px;
}
.three{
	background-color:#fcd8dd; 
	margin-bottom : 10px;
}
.four{
	background-color: #d2f4c1;
	margin-top: 10px;
	height: 172px;
}
/*留言区*/
#leave_word{
	clear:both;
	position: relative;
}
.words_shwo{
	float: left;
	width:30%;
	margin-left: 10%;	
}
.example{
	position: relative;
	height: 80px;
	margin-top: 5px;
    background-color:#ebe5e5;
	padding-top: 10px;
	padding:15px 5px 0 10px;
	margin:0 15px 15px 0;
}
.example img{
	float:left;
	width: 50px;
	height: 50px;
}
.words{
	float:left;
	width: 250px;
	height: 50px;
	margin-left:20px;
}
.leave_name,.leave_data{
	clear:both;
	float:right;
	position:relative;
	color:#4e79b7;
}
.leave_name{
	top:-22px;
	left: -80px;
}
form{
	float:left;
	width:47%;
	padding-left: 3%;
	border-left: 1px dotted black;
}
input,textarea,button{
    width:500px;
    height:40px;
    margin:10px;
    border-radius: 7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border:2px solid #ccc;
}
textarea{
	height:100px;
}
.label_area{
	position: relative;
	top:-100px;
}
button{
	background-color:#4e79b7;
	font-size: 24px;
	letter-spacing:50px;
	margin-left: 50px;
}
button:focus{
    outline: none;
    border:1px solid #27569c;
    background-color:#27569c;
}
footer{
	clear:both;
	position: relative;
	width:100%;
	height: 150px;
	padding-top:50px;
	background:url(../img/indexImg/backimg.png);
}
.thank{
	width: 400px;
	text-align: center;
	font-size: 30px;
	margin:0 auto;
}
footer a img{
	width: 50px;
	height: 50px;
	margin:20px;
}
.account{
	width:400px;
	height: 50px;
	margin:0 auto;
}