*{
	margin:0;
	padding:0;
	color:#aa90ce;
}
a:link{
	text-decoration:none;
	color:#aa90ce;
}

a:visited{
	text-decoration:none;
	color:#aa90ce;
}
a:hover{
	text-decoration: none;
	color:#734aba;
}
ul li{
	list-style-type: none;
}
.top-wrap{
	width:1000px;
	padding:0;
	margin:0 auto;
	height:20px;
}
.top-wrap-left{
	float:left;
	width:230px;
	height:20px;
	margin:0;
}
.top-wrap-left p{
	margin:0;
}
.top-wrap-right{
	float:right;
	width:350px;
	font-size:16px;
}
.top-wrap-right ul li{
	display:inline-block;
	float:right;
}
.header{
	clear:both;
	width:217px;
	height:51px;
	margin:30px auto 10px auto;
}
.fixedSubNav{
	position:fixed;
	top:0;
	left:0;
	z-index:1000;
}
.hidden{
	display:none!important;
}
.nav{
	width:100%;
	height:40px;
	background-color:#f5f2fa;

}
.nav-content{
	width:1000px;
	margin:0 auto;
}
.nav-content ul li {
	display:block;
	float:left;
	list-style-type: none;
	width:40px;
	height:25px;
	margin:0 30px;
	font-size:20px;
}
.nav-input{
	float:right;
}
a.active{
	color:red;
}

.new-menu,.clothing-menu,.accessory-menu{
	position:absolute;
	width:1000px;
	height:250px;
	background-color:white;
	margin-top:0;
	z-index:9999;
}
.new-menu{
	margin-left:-100px;
}
.new-in,.clothing,.accessory{
	font-size:30px;
	width:1000px;
	height:70px;
	padding-left: 20px;
	float:left;
	border-bottom:1px solid #d8c7f5;
}
.new-in span,.clothing span,.accessory span{
	margin-left:20px;
	font-size:16px;
}

.new-content{
	float:left;
	margin:10px 40px;
	font-size:16px;
	line-height:33px;
}
.new-pic,.clothing-pic,.acc-pic{
	float:right;
	margin:20px;
}
.clothing-menu{

	margin-left:-200px;
}
.clothing-content{
	float: left;
	margin:10px 25px 0 25px;

}
.clothing-kind{
	margin-bottom:20px;
	margin-top:6px;
}
.clothing-kind ul li {
	font-size: 14px;
	width:65px;
	margin:0;
	height:25px;
}
.accessory-menu{
	margin-left:-300px;
}
.acc-content{
	float:left;
	width:150px;
	margin:20px 20px 0 30px;
	line-height: 30px;
}
.banner-bg img{
	width:100%;
}
.new-clothing,.classify{
	width:1000px;
	margin:80px auto;
}
.more{
	position: absolute;
	margin-top:-80px;
	margin-left: 930px;
	font-size: 16px;
	z-index: 9999;
}
#placeholder{
	margin:30px 0;
}
.classify-cont{width:830px;height:900px;margin:0 auto;}
.one{width:410px;height:410px;float:left;margin:50px 5px 5px 0px;}
.pic1{float:left;width:200px;height:200px;margin:0 0 5px 0;}
.pic2{float:left;width:210px;height:200px;margin:0 0px 5px 0;}
.pic3{float:left;width:210px;height:200px;margin:5px 0 0 0;}
.pic4{float:left;width:200px;height:200px;margin:5px 0 0 0;}
.pic5{float:right;width:410px;height:410px;margin:50px 0px 5px 5px;}
.pic6{float:left;width:410px;height:410px;margin:5px 5px 0 0px;}
.two{float:right;width:410px;height:410px;margin:5px 0px 0 5px;}
.pic7{float:left;width:210px; height:200px;margin:0 0 5px 0;}
.pic8{float:right;width:200px;height:200px;margin:0 0 5px 0;}
.pic9{float:left;width:200px;height:200px;margin:5px 0 0 0;}
.pic10{float:right;width:210px;height:200px;margin:5px 0 0 0;}
.footer{
	width:100%;
	height:290px;
	background-color: #f5f2fa;
}
.footer-cont{
	width:1000px;
	margin:0 auto;
}
.footer-top{
	width:1000px;
	height:80px;
	margin-left:80px;
}

.footer-top ul li{
	float:left;
	list-style-type: none;
	width:180px;
	height:80px;
	margin-top:10px;
}
.footer-left{
	width:1000px;
}
.footer-about{
	clear: left;

}
.footer-about,.footer-service,.footer-user{
	float:left;
	width:200px;
	height:160px;
	margin-left:50px;
	margin-bottom: 10px;
	font-size:12px;
	line-height: 26px;
}
.weixin-pic{
	float:right;
	width:125px;
	height:150px;
	margin-right:50px;
}
.footer-bottom {
	clear: both;
	width:1000px;
	height:30px;
	margin-top: 10px;
	text-align: center;
}
.scroll{
		display:none;
		width:50px;
		height:50px;
		background:#aa90ce;
		color:#fff;
		line-height:46px;
		margin-bottom:4px;
		text-align:center;
		position:fixed;
		right:30px;
		bottom:50px;
		cursor:pointer;
		font-size:45px;
	}
